*{
    margin: 0;
}
header{
    display: flex;
    gap: 100vh;
    height: 100px;
    background-color: black;
    color: white;
    align-items: center;
    padding-left: 20px;
}
header ul{
    list-style-type: none;
    display: flex;
    gap: 10vh;
}
